---
import './hero.css';
import Button from '../atoms/Button.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradient">Kévin Da Silva</h1>
			<p class="hero__text">
				Bienvenue sur mon portfolio !
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/profile.webp"
		alt=""
		width="384"
        height="384"
	/>
	</div>
</section>
