---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title content="Skills" />
		<p>
			Je maîtrise les fondamentaux du développement web avec HTML, CSS et JavaScript, 
            que j’utilise pour créer des interfaces modernes et réactives. 
            Durant ma formation, j’ai travaillé avec NodeJS et React pour développer des applications fullstack dynamiques,
            approfondissant ainsi mes connaissances en composants, hooks et gestion d’état. 
            Par ailleurs, j’ai une solide expérience en Python, notamment avec le framework Django, 
            que j’ai largement utilisé pour concevoir des applications web robustes et bien structurées, 
            intégrant des bases de données et des API. 
            Mon parcours me permet de m’adapter rapidement à différents environnements techniques et de relever des défis variés.
		</p>
	</div>
</section>
