---
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__content">
			<Title margin="1rem" content="À propos de moi" />
			<p class="about__text">
				Passionné par le développement et la création d’applications innovantes,
                je suis un développeur polyvalent en constante évolution. Mon parcours m’a permis de travailler sur divers projets,
                avec des besoins différents.
			</p>
		</div>
	</div>

</section>
