---
import Button from "../components/atoms/Button.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Erreur 404 - Non trouvé">
        <h1 class="text-xl">Erreur 404 - Non trouvé</h1>
        <Button text="Retour" href="/"/>
</Layout>