---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal name="dasilv-h3">
	<div class="terminal__skills">
		<h2>Mes skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src={`/Portfolio/assets/html.svg`}
				color="#e34f26"
				name="HTML"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/css.svg`}
				color="#264de4"
				name="CSS"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/javascript.svg`}
				color="#f7df1e"
				name="Javascript"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/nodejs.svg`}
				color="#3c873a"
				name="NodeJS"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/react.svg`}
				color="#1c84bc"
				name="React"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/tailwind.svg`}
				color="#2fb0f6"
				name="Tailwind"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/python.svg`}
				color="#4584b6"
				name="Python"
			/>
			<TerminalIcon
				src={`/Portfolio/assets/django.svg`}
				color="#105239"
				name="Django"
			/>
		</div>
	</div>
</Terminal>
