---
const { content, margin } = Astro.props;
---

<h2 class="color__gradient text-center" style=`margin-bottom:${margin}` >{content}</h2>

<style>
	h2 {
		font-size: 5rem;
		font-weight: 500;
	}
</style>
